<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trade Tracker</title>
    <link rel="stylesheet" href="/sheets/bootstrap.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="/sheets/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="/sheets/trade.css">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
	    <div class="navbar-header">
	        <a class="navbar-brand" href="http://demo.zeonlabs.com/login">
                <img src ="/images/zeonlab_logo.png" alt="Zeonlab-Blockchain" class="logo">
            </a>
	    </div>
	    <ul class="nav navbar-nav navbar-right navhide">
		    <li><a href="/profiledetails">PROFILE DETAILS</a></li>
		    <li><a href="/profile">TRADE DASHBOARD</a></li>
            <li><a href="/logout" class="footerscrl rdot">LOGOUT</a></li>
	    </ul>
    </div>
</nav>

<form id="approval_form" action = "/approvetrade" method = "POST">
		<input type="hidden" name="trade_id" value=<%= id %>>
    <input type="hidden" name="userAddress" value=<%= userAddress %>>
		<input type="hidden" class="approvaltype" name="approvaltype" value=''>
		<input type="hidden" name="senderpage" value=<%= senderpage %>>
	</form>
	<form id="dwnld_form" action = "/docdownload" method = "POST">
		<input type="hidden" name="trade_id" value=<%= id %>>
		<input type="hidden" id="docname" name="docname" value=''>
	</form>
	<form id="dwnld_form2" action = "/docdownloadbc" method = "POST">
		<input type="hidden" name="trade_id" value=<%= id %>>
		<input type="hidden" id="docname2" name="docname" value=''>
</form>

    <h3 class="tradeheading">TRADE TRACKER</h3>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="usrinfo">
                    <div class="infoitem">
                        <img src="/images/user_icon.png">
                        <span><strong>Dealer:</strong> <%= seller_id %> </span>
                    </div>
                    <div class="infoitem">
                        <img src="/images/user_icon.png">
                        <span><strong>Customer:</strong> <%= buyer_id %> </span>
                    </div>
                    <div class="infoitem">
                        <img src="/images/user_icon.png">
                        <span><strong>Insurer:</strong> <%= insurer_id %> </span>
                    </div>
                    <input type="hidden" id="senderpage" value="<%= senderpage %>">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="tradecontainer">
                    <h4 class="text-center"><strong>Pending Action:</strong> <span class="pendingstatus">Purchase Order Uploaded Seller to Approve</span></h4><br>
                    <div class="tradelist">
                        <div class="row kyc_row tradeitem">
                            <div class="col-sm-2 tradeleft text-center">
                                <img src="/images/inv_icon.png">
                                <p class="status">IN PROGRESS</p>
                            </div>
                            <div class="col-sm-10 traderight">
                                <div class="col-sm-6">
                                    <p class="tradedate"></p>
                                    <p class="tradehead">KYC</p>
                                    <p class="tradetxt">Upload KYC</p>
                                </div>
                                <div class="col-sm-6 tradeoptions">
                                    <% if(senderpage == 'Buyer') {%><button class="tradebtn uploadbtn" data-toggle="modal" data-target="#uploadmodal" onclick="fillName('kyc'); setTitle('KYC')">Upload KYC
                                        <i class="fa fa-upload" aria-hidden="true"></i>
                                    </button><br/><%}%>
                                    <% if(senderpage == 'Seller') {%> <div class="optionbtn">
                                        <button class="tradebtn acceptbtn" onclick="fillForm('K')" form="approval_form">Accept
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        </button>
                                        <button class="tradebtn rejectbtn" onclick="fillForm('K')" data-toggle="modal" data-target="#rejectmodal">Reject
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                    </div><%}%>

                                    <div class="downloadbtn">
                                        <button class="tradebtn dnldbcbtn" onclick="dwnldForm('KYC')" data-toggle="modal" data-target="#bcdnldmodal" form="dwnld_form2">Download
                                            <i class="fa fa-link" aria-hidden="true"></i>
                                        </button>
                                        <button class="tradebtn dnldsvbtn" onclick="dwnldForm('KYC')" form="dwnld_form">Download
                                            <i class="fa fa-server" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row tradeitem request_row">
                            <div class="col-sm-2 tradeleft text-center">
                                <img src="/images/quo_icon.png">
                                <p class="status">IN PROGRESS</p>
                            </div>
                            <div class="col-sm-10 traderight">
                                <div class="col-sm-6">
                                    <p class="tradedate"></p>
                                    <p class="tradehead">RFQ</p>
                                    <p class="tradetxt">Received Quotation from Seller</p>
                                </div>
                                <div class="col-sm-6 tradeoptions">
                                    <% if(senderpage == 'Buyer') {%> <button class="tradebtn uploadbtn" data-toggle="modal" data-target="#uploadmodal" onclick="fillName('rfq'); setTitle('Request for Quotation')">Upload Request For Quotation
                                        <i class="fa fa-upload" aria-hidden="true"></i>
                                    </button><br/><%}%>
                                    <% if(senderpage == 'Seller') {%><div class="optionbtn">
                                        <button class="tradebtn acceptbtn" onclick="fillForm('R')" form="approval_form">Accept
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        </button>
                                        <button class="tradebtn rejectbtn" onclick="fillForm('R')" data-toggle="modal" data-target="#rejectmodal">Reject
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                    </div><%}%>
                                    <div class="downloadbtn">
                                        <button class="tradebtn dnldbcbtn" onclick="dwnldForm('RequestForQuotation')" data-toggle="modal" data-target="#bcdnldmodal" form="dwnld_form2">Download
                                            <i class="fa fa-link" aria-hidden="true"></i>
                                        </button>
                                        <button class="tradebtn dnldsvbtn" onclick="dwnldForm('RequestForQuotation')" form="dwnld_form">Download
                                            <i class="fa fa-server" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row tradeitem quotation_row">
                            <div class="col-sm-2 tradeleft text-center">
                                <img src="/images/quo_icon.png">
                                <p class="status">IN PROGRESS</p>
                            </div>
                            <div class="col-sm-10 traderight">
                                <div class="col-sm-6">
                                    <p class="tradedate"></p>
                                    <p class="tradehead">Quotation</p>
                                    <p class="tradetxt">Received Quotation from Seller</p>
                                </div>
                                <div class="col-sm-6 tradeoptions">
                                    <% if(senderpage == 'Seller') {%> <button class="tradebtn uploadbtn" data-toggle="modal" data-target="#uploadmodal" onclick="fillName('quotation'); setTitle('Quotation')">Upload Quotation
                                        <i class="fa fa-upload" aria-hidden="true"></i>
                                    </button><br/><%}%>
                                    <% if(senderpage == 'Buyer') {%><div class="optionbtn">
                                        <button class="tradebtn acceptbtn" onclick="fillForm('Q')" form="approval_form">Accept
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        </button>
                                        <button class="tradebtn rejectbtn" onclick="fillForm('Q')" data-toggle="modal" data-target="#rejectmodal">Reject
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                    </div><%}%>
                                    <div class="downloadbtn">
                                        <button class="tradebtn dnldbcbtn" onclick="dwnldForm('Quotation')" data-toggle="modal" data-target="#bcdnldmodal" form="dwnld_form2">Download
                                            <i class="fa fa-link" aria-hidden="true"></i>
                                        </button>
                                        <button class="tradebtn dnldsvbtn" onclick="dwnldForm('Quotation')" form="dwnld_form">Download
                                            <i class="fa fa-server" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row purchase_row tradeitem">
                            <div class="col-sm-2 tradeleft text-center">
                                <img src="/images/pur_icon.png">
                                <p class="status">IN PROGRESS</p>
                            </div>
                            <div class="col-sm-10 traderight">
                                <div class="col-sm-6">
                                    <p class="tradedate"></p>
                                    <p class="tradehead">Purchase Order</p>
                                    <p class="tradetxt">Purchase Order Uploaded Seller to Approve</p>
                                </div>
                                <div class="col-sm-6 tradeoptions">
                                    <% if(senderpage == 'Buyer') {%> <button class="tradebtn uploadbtn" data-toggle="modal" data-target="#uploadmodal" onclick="fillName('po'); setTitle('Purchase Order')">Upload Purchase Order
                                        <i class="fa fa-upload" aria-hidden="true"></i>
                                    </button><br/><%}%>
                                    <% if(senderpage == 'Seller') {%> <div class="optionbtn">
                                        <button class="tradebtn acceptbtn" onclick="fillForm('P')" form="approval_form">Accept
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        </button>
                                        <button class="tradebtn rejectbtn" onclick="fillForm('P')" data-toggle="modal" data-target="#rejectmodal">Reject
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                    </div><%}%>
                                    <div class="downloadbtn">
                                        <button class="tradebtn dnldbcbtn" onclick="dwnldForm('PurchaseOrder')" data-toggle="modal" data-target="#bcdnldmodal" form="dwnld_form2">Download
                                            <i class="fa fa-link" aria-hidden="true"></i>
                                        </button>
                                        <button class="tradebtn dnldsvbtn" onclick="dwnldForm('PurchaseOrder')" form="dwnld_form">Download
                                            <i class="fa fa-server" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row invoice_row tradeitem">
                            <div class="col-sm-2 tradeleft text-center">
                                <img src="/images/inv_icon.png">
                                <p class="status">IN PROGRESS</p>
                            </div>
                            <div class="col-sm-10 traderight">
                                <div class="col-sm-6">
                                    <p class="tradedate"></p>
                                    <p class="tradehead">Invoice</p>
                                    <p class="tradetxt">Invoice Received from Seller</p>
                                </div>
                                <div class="col-sm-6 tradeoptions">
                                    <% if(senderpage == 'Seller') {%><button class="tradebtn uploadbtn" data-toggle="modal" data-target="#invoiceuploadmodal" onclick="fillName('invoice'); setTitle('Invoice')">Upload Invoice
                                        <i class="fa fa-upload" aria-hidden="true"></i>
                                    </button><br/><%}%>
                                    <% if(senderpage == 'Buyer') {%> <div class="optionbtn">
                                        <button class="tradebtn acceptbtn" onclick="fillForm('I')" form="approval_form">Accept
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        </button>
                                        <button class="tradebtn rejectbtn" onclick="fillForm('I')" data-toggle="modal" data-target="#rejectmodal">Reject
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                    </div><%}%>
                                    <% if(senderpage == 'Bank') {%> <div class="optionbtn">
                                        <button class="tradebtn acceptbtn" onclick="fillForm('IA')" form="approval_form">Accept
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        </button>
                                        <button class="tradebtn rejectbtn" onclick="fillForm('IA')" data-toggle="modal" data-target="#rejectmodal">Reject
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                    </div><%}%>
                                    <div class="downloadbtn">
                                        <button class="tradebtn dnldbcbtn" onclick="dwnldForm('Invoice')" data-toggle="modal" data-target="#bcdnldmodal" form="dwnld_form2">Download
                                            <i class="fa fa-link" aria-hidden="true"></i>
                                        </button>
                                        <button class="tradebtn dnldsvbtn" onclick="dwnldForm('Invoice')" form="dwnld_form">Download
                                            <i class="fa fa-server" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row agreement_row tradeitem">
                            <div class="col-sm-2 tradeleft text-center">
                                <img src="/images/agr_icon.png">
                                <p class="status">IN PROGRESS</p>
                            </div>
                            <div class="col-sm-10 traderight">
                                <div class="col-sm-6">
                                    <p class="tradedate"></p>
                                    <p class="tradehead">Financial Agreement</p>
                                    <p class="tradetxt">Received Agreement from Bank</p>
                                </div>
                                <div class="col-sm-6 tradeoptions">
                                    <% if(senderpage == 'Bank') {%> <button class="tradebtn uploadbtn" data-toggle="modal" data-target="#Agreementmodal">Update Agreement
                                        <i class="fa fa-upload" aria-hidden="true"></i>
                                    </button><br/><%}%>
                                    <% if(senderpage == 'Buyer' || senderpage == 'Seller') {%><div class="optionbtn">
                                        <button class="tradebtn acceptbtn" onclick="fillForm('L')" form="approval_form">Accept
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        </button>
                                        <button class="tradebtn rejectbtn" onclick="fillForm('L')" data-toggle="modal" data-target="#rejectmodal">Reject
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                    </div><%}%>
                                    <div class="downloadbtn">
                                    <button class="tradebtn viewbtn1" data-toggle="modal" data-target="#Agreementviewmodal">View Agreement
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button><br/>
                                    <button class="tradebtn viewbtn2" data-toggle="modal" data-target="#Agreementviewmodal">View Agreement
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row bill_row tradeitem">
                            <div class="col-sm-2 tradeleft text-center">
                                <img src="/images/bill_icon.png">
                                <p class="status">IN PROGRESS</p>
                            </div>
                            <div class="col-sm-10 traderight">
                                <div class="col-sm-6">
                                    <p class="tradedate"></p>
                                    <p class="tradehead">Bill of Lading</p>
                                    <p class="tradetxt">Shipper yet to Upload Bill Of Lading</p>
                                </div>
                                <div class="col-sm-6 tradeoptions">
                                    <% if(senderpage == 'Shipper') {%><button class="tradebtn uploadbtn" data-toggle="modal" data-target="#uploadmodal" onclick="fillName('bol'); setTitle('Bill Of Lading')">Upload Bill Of Lading
                                        <i class="fa fa-upload" aria-hidden="true"></i>
                                    </button><br/><%}%>
                                    <% if(senderpage == 'Buyer' || senderpage == "Bank") {%><div class="optionbtn">
                                        <button class="tradebtn acceptbtn" onclick="fillForm('B')" form="approval_form">Accept
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        </button>
                                        <button class="tradebtn rejectbtn" onclick="fillForm('B')" data-toggle="modal" data-target="#rejectmodal">Reject
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                    </div><%}%>
                                    <div class="downloadbtn">
                                        <button class="tradebtn dnldbcbtn" onclick="dwnldForm('BillOfLading')" form="dwnld_form2" data-toggle="modal" data-target="#bcdnldmodal">Download
                                            <i class="fa fa-link" aria-hidden="true"></i>
                                        </button>
                                        <button class="tradebtn dnldsvbtn" onclick="dwnldForm('BillOfLading')" form="dwnld_form">Download
                                            <i class="fa fa-server" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row payment_row tradeitem">
                            <div class="col-sm-2 tradeleft text-center">
                                <img src="/images/pay_icon.png">
                                <p class="status">IN PROGRESS</p>
                            </div>
                            <div class="col-sm-10 traderight">
                                <div class="col-sm-6">
                                    <p class="tradedate"></p>
                                    <p class="tradehead">Payment</p>
                                    <p class="tradetxt">Payment Scheduled</p>
                                </div>
                                <div class="col-sm-6 tradeoptions">
                                    <% if(senderpage == 'Buyer' || senderpage == "Bank") {%><div class="optionbtn">
                                        <button class="tradebtn acceptbtn" onclick="fillForm('B')" form="approval_form">Accept
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        </button>
                                        <button class="tradebtn rejectbtn" onclick="fillForm('B')" data-toggle="modal" data-target="#rejectmodal">Reject
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                    </div><%}%>
                                </div>
                            </div>
                        </div>
                        <div class="row rc_row tradeitem">
                            <div class="col-sm-2 tradeleft text-center">
                                <img src="/images/bill_icon.png">
                                <p class="status">IN PROGRESS</p>
                            </div>
                            <div class="col-sm-10 traderight">
                                <div class="col-sm-6">
                                    <p class="tradedate"></p>
                                    <p class="tradehead">Request RC Book</p>
                                    <p class="tradetxt">Shipper yet to Upload Bill Of Lading</p>
                                </div>
                                <div class="col-sm-6 tradeoptions">
                                    <div class="downloadbtn">
                                        <button class="tradebtn uploadbtn">Send To RTO
                                            <i class="fa fa-upload" aria-hidden="true"></i>
                                        </button>
                                        <button class="tradebtn uploadbtn">Send Sale Details To Insurer
                                            <i class="fa fa-upload" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row insquo_row tradeitem">
                            <div class="col-sm-2 tradeleft text-center">
                                <img src="/images/quo_icon.png">
                                <p class="status">IN PROGRESS</p>
                            </div>
                            <div class="col-sm-10 traderight">
                                <div class="col-sm-6">
                                    <p class="tradedate"></p>
                                    <p class="tradehead">Insurance Quotation</p>
                                    <p class="tradetxt">Payment Scheduled</p>
                                </div>
                                <div class="col-sm-6 tradeoptions">
                                    <% if(senderpage == 'Buyer' || senderpage == "Bank") {%><div class="optionbtn">
                                        <button class="tradebtn acceptbtn" onclick="fillForm('B')" form="approval_form">Accept
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        </button>
                                        <button class="tradebtn rejectbtn" onclick="fillForm('B')" data-toggle="modal" data-target="#rejectmodal">Reject
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                    </div><%}%>
                                </div>
                            </div>
                        </div>
                        <div class="row insquo_row tradeitem">
                            <div class="col-sm-2 tradeleft text-center">
                                <img src="/images/quo_icon.png">
                                <p class="status">IN PROGRESS</p>
                            </div>
                            <div class="col-sm-10 traderight">
                                <div class="col-sm-6">
                                    <p class="tradedate"></p>
                                    <p class="tradehead">Insurance Document</p>
                                    <p class="tradetxt">Payment Scheduled</p>
                                </div>
                                <div class="col-sm-6 tradeoptions">
                                    <div class="downloadbtn">
                                        <button class="tradebtn uploadbtn" onclick="dwnldForm('BillOfLading')" form="dwnld_form2" data-toggle="modal" data-target="#bcdnldmodal">Download
                                            <i class="fa fa-download" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- Upload Modal -->
<div id="uploadmodal" class="modal fade" role="dialog">
	<div class="modal-dialog" style="width:400px;">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>Upload <span id="title" class="modal-title"></span></h4>
			</div>
			<div class="modal-body">
				<div id="uplshow" style="display:none">
					<img src="/images/loader.gif" class="loadergif">
					<p>Please hang on while we upload this document<br/>
						on to blockchain. This document will then<br/>
						be immutable and permanent.<br/>
						This may take few minutes. </p>
						<p style="font-weight:bold;">You can close this window now</p>
					</div>
					<div id="uplhide">
						<form id="uploadform" action = "/uploadDoc" method = "POST" enctype = "multipart/form-data">
							<div class="form-group">
								<input type="hidden" id="docName" name="senderpage">
                <input type="hidden" name="userAddress" value=<%= userAddress %>>
								<p id="uperror" style="display:none;color:red;">Please Select File</p>
								<input type="file" class="form-control" id="docfile" name="file" required>
								<input type="hidden" name="id" value=<%= id %>>
								<input type="hidden" id="hash" name="sha256hash">
							</div>
						</form>
						<div class="form-group">
							<button class="btn mupbtn" onclick = "computeHash()"><img src="/images/Upload.png" class="upimg">Upload</button>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>

	<!--Invoice Upload Modal -->
<div id="invoiceuploadmodal" class="modal fade" role="dialog">
	<div class="modal-dialog" style="width:400px;">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>Upload <span id="title" class="modal-title"></span></h4>
			</div>
			<div class="modal-body">
				<div id="uplshow" style="display:none">
					<img src="/images/loader.gif" class="loadergif">
					<p>Please hang on while we upload this document<br/>
						on to blockchain. This document will then<br/>
						be immutable and permanent.<br/>
						This may take few minutes. </p>
						<p style="font-weight:bold;">You can close this window now</p>
					</div>
					<div id="uplhide">
						<form id="uploadInvoiceForm" action = "/uploadDoc" method = "POST" enctype = "multipart/form-data">
							<div class="form-group">
								<input type="hidden" id="docName" name="senderpage">
                <input type="hidden" name="userAddress" value=<%= userAddress %>>
								<p id="uperror" style="display:none;color:red;">Please Select File</p>
								<input type="file" class="form-control" id="docfile" name="file" required><br/>
								<input type="text" class="form-control" id="paymentamount" placeholder="credit amount" required><br/>
								<input type="number" class="form-control" id="days" placeholder="credit days" required>
								<input type="hidden" name="id" value=<%= id %>>
								<input type="hidden" id="hash" name="sha256hash">
							</div>
						</form>
						<div class="form-group">
							<button class="btn mupbtn" onclick = "computeHash('uploadInvoiceForm')"><img src="/images/Upload.png" class="upimg">Upload</button>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>



<!-- Reject Modal -->
<div id="rejectmodal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:400px;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="title" class="modal-title">Reason for Rejection</h4>
            </div>
            <div class="modal-body" style="padding-top:5px;">
                <form id="rejection_form" action = "/rejecttrade" method = "POST">
                    <input type="hidden" name="trade_id" value=<%= id %>>
                    <input type="hidden" name="userAddress" value=<%= userAddress %>>
                    <input type="hidden" class="approvaltype" name="approvaltype" value=''>
                    <input type="hidden" name="senderpage" value=<%= senderpage %>>
                </form>
                <textarea form="rejection_form" name="reason" placeholder="Reason" class="form-control" rows="4"></textarea>
                <div style="margin-top:8px;text-align:right;">
                        <button class="btn btn-link" data-dismiss="modal">Cancel</button>
                        <button type="submit" form="rejection_form" class="btn btn-default">Submit</button>
                    </div>
            </div>
        </div>

    </div>

</div>
<!-- BCdnld Modal -->
<div id="bcdnldmodal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:400px;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body" style="padding-top:30px;">
                <p>Please hang on while we download this document from blockchain. This may take a while..</p>
            </div>
        </div>

    </div>

</div>




<!--Agreement Modal -->
<div id="Agreementmodal" class="modal fade" role="dialog">
	<div class="modal-dialog" style="width:400px;">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 id="title" style="text-align:center" class="modal-title">Update Financial Agreement</h4>
			</div>
			<div class="modal-body">
				<form action="/letterofcredit" method="post">
					<div class="form-group">
						<input type="hidden" name="trade_id" value=<%= id %>>
					</div>
					<div class="form-group">
						<input type="hidden" class="form-control" name="buyer" value=<%= buyer_id %>>
					</div>
					<div class="form-group">
						<input type="hidden" class="form-control" name="seller" value=<%= seller_id %>>
					</div>
					<div class="form-group">
						<input type="number" class="form-control" name="timePeriod" placeholder="Time Period in mins before expiry">
					</div>
					<div class="form-group">
						<input type="number" class="form-control" name="creditAmount" placeholder="Credit Amount">
					</div>
					<button type="submit" class="btn btn-default" style="margin-left: 79.5%;">Submit</button>
				</form>
			</div>

		</div>

	</div>
</div>

<!--Agreement view Modal -->
<div id="Agreementviewmodal" class="modal fade" role="dialog">
	<div class="modal-dialog" style="width:400px;">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body">
				<form action="/letterofcredit" method="post">
					<div class="form-group">
						<input type="hidden" name="trade_id" value=<%= id %>>
					</div>
					<div class="form-group">
						<input type="hidden" class="form-control" name="buyer" value=<%= buyer_id %>>
					</div>
					<div class="form-group">
						<input type="hidden" class="form-control" name="seller" value=<%= seller_id %>>
					</div>
					<div class="form-group">
						<p>This agreement contains all textual
							details of the agreement along with
							payment-related terms that are in the form.<br/>
							Summary of Payment Related terms</p>
						</div>
						<div class="form-group">
							<label>Time Period in mins before expiry</label><input type="number" class="form-control" name="timePeriod" value='<%= timePeriod %>' readonly>
						</div>
						<div class="form-group">
							<label>Credit Amount</label><input type="number" class="form-control" name="creditAmount" value='<%= creditAmount %>' readonly>
						</div>
						<button type="submit" class="btn btn-default" style="margin-left: 81.5%;" data-dismiss="modal">Close</button>
                </form>
			</div>
        </div>
    </div>
</div>


<script type="text/javascript" src="/js/jquery.1.11.1.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/sha256.js"></script>
<script type="text/javascript" src="/web3.js/web3.js-develop/dist/web3.js"></script>
<script type="text/javascript" src="/ABI/order.js"></script>
<script>
// $(".tradeitem button").prop('disabled', true);
$(".trading button").prop('disabled', false);
$(".tradeitem .status").html('YET TO START');
var docNameStore;
$(".dnldbcbtn").click(function(){

	setTimeout(function(){
         $("#bcdnldmodal").modal('hide');
    }, 3000);

});
function str2bytearr(str) {
	var data = [];
	for (var i = 0; i < str.length; i++) {
		data.push(str.charCodeAt(i));
	}
	return data;
}

$("#docfile").click(function(){

    document.getElementById("uperror").style.display="none";

});
function computeHash(formID){
  if (!formID) {
    formID = "uploadform";
  }

  var form = document.getElementById(formID);
  form.submit();
  $('#uplhide').hide();
  $('#uplshow').show();
}

$(document).ready(function(){rejection_form
    $('[data-toggle="popover"]').popover();
});

function setTitle(title){
    $("#title").html(title);
}

function fillName(name){
    $("#docName").val(name);
}

function dwnldForm(name){
	$("#docname").val(name);
	$("#docname2").val(name);
}

function fillForm(approvalType){
	var el = document.getElementsByClassName('approvaltype');
	for(var i = 0; i < el.length; ++i){
		el[i].value = approvalType;
	}
}

$(".uploadbtn, .acceptbtn, .rejectbtn, .dnldsvbtn, .dnldbcbtn, .viewbtn1, .viewbtn2").prop('disabled', true);

$(".quotation_row .tradetxt").html('Trade Process Yet to Start');
$(".purchase_row .tradetxt").html('Yet to Upload Purchase Order');
$(".invoice_row .tradetxt").html('Yet to Upload Invoice');
$(".agreement_row .tradetxt").html('Yet to Upload Agreement');
$(".bill_row .tradetxt").html('Yet to Upload Bill of Lading');
$(".payment_row .tradetxt").html('Payment Not yet scheduled');

if("<%= status %>".split(';')[1] ==  ' Ethereum Txn Pending' || "<%= status %>".split(' ')[0] ==  'Payment'){
	setTimeout(function(){location.reload()}, 5000);
}
console.log("<%= status %>");
console.log("<%= senderpage %>");
switch("<%= status %>".split(' ')[0]){
	case "KYC":
	if("<%= status %>" != "KYC Approved"){
    $(".kyc_row").addClass("trading");
    $(".kyc_row").css("cssText","border: 1px solid rgba(13, 92, 198, 1);");
    $(".kyc_row .tradeleft").css("cssText","opacity:1 !important");
    $(".kyc_row .traderight").css("cssText","background-image: url(/images/tradeopbg.jpg);");
    $(".kyc_row .tradebtn").css("cssText","opacity:1; border: 2px solid white;");
    $(".kyc_row .status").html("IN PROGRESS");
	}
	break;
	case "Request":
	$(".kyc_row .tradetxt").html('KYC Approved');
	$(".kyc_row .dnldsvbtn, .kyc_row .dnldbcbtn").css("cssText","opacity:1 !important");
	$(".kyc_row .dnldsvbtn, .kyc_row .dnldbcbtn").prop('disabled', false);
	if("<%= status %>" != "Request For Quotation Approved"){
    $(".request_row").addClass("trading");
    $(".request_row").css("cssText","border: 1px solid rgba(13, 92, 198, 1);");
    $(".request_row .tradeleft").css("cssText","opacity:1 !important");
    $(".request_row .traderight").css("cssText","background-image: url(/images/tradeopbg.jpg);");
    $(".request_row .tradebtn").css("cssText","opacity:1; border: 2px solid white;");
    $(".request_row .status").html("IN PROGRESS");
    $(".kyc_row .status").html("COMPLETED");
	}
  else{
    $(".quotation_row").addClass("trading");
    $(".quotation_row").css("cssText","border: 1px solid rgba(13, 92, 198, 1);");
    $(".quotation_row .tradeleft").css("cssText","opacity:1 !important");
    $(".quotation_row .traderight").css("cssText","background-image: url(/images/tradeopbg.jpg);");
    $(".quotation_row .tradebtn").css("cssText","opacity:1; border: 2px solid white;");
    $(".quotation_row .status").html("IN PROGRESS");
  }
	break;
	case "Quotation":
	$(".kyc_row .tradetxt").html('KYC Approved');
	$(".request_row .tradetxt").html('RFQ Approved');
	$(".kyc_row .dnldsvbtn, .kyc_row .dnldbcbtn").css("cssText","opacity:1 !important");
	$(".kyc_row .dnldsvbtn, .kyc_row .dnldbcbtn").prop('disabled', false);
	$(".request_row .dnldsvbtn, .request_row .dnldbcbtn").css("cssText","opacity:1 !important");
	$(".request_row .dnldsvbtn, .request_row .dnldbcbtn").prop('disabled', false);
	if("<%= status %>" != "Quotation Approved"){
    $(".quotation_row").addClass("trading");
    $(".quotation_row").css("cssText","border: 1px solid rgba(13, 92, 198, 1);");
    $(".quotation_row .tradeleft").css("cssText","opacity:1 !important");
    $(".quotation_row .traderight").css("cssText","background-image: url(/images/tradeopbg.jpg);");
    $(".quotation_row .tradebtn").css("cssText","opacity:1; border: 2px solid white;");
    $(".quotation_row .status").html("IN PROGRESS");
    $(".kyc_row .status, .request_row .status").html("COMPLETED");
  }
  else{
    $(".purchase_row").addClass("trading");
    $(".purchase_row").css("cssText","border: 1px solid rgba(13, 92, 198, 1);");
    $(".purchase_row .tradeleft").css("cssText","opacity:1 !important");
    $(".purchase_row .traderight").css("cssText","background-image: url(/images/tradeopbg.jpg);");
    $(".purchase_row .tradebtn").css("cssText","opacity:1; border: 2px solid white;");
    $(".purchase_row .status").html("IN PROGRESS");
  }
	break;
	case "Purchase":
	$(".kyc_row .tradetxt").html('KYC Approved');
	$(".request_row .tradetxt").html('RFQ Approved');
	$(".quotation_row .tradetxt").html('Quotation Approved');
	$(".kyc_row .dnldsvbtn, .kyc_row .dnldbcbtn").css("cssText","opacity:1 !important");
	$(".kyc_row .dnldsvbtn, .kyc_row .dnldbcbtn").prop('disabled', false);
	$(".request_row .dnldsvbtn, .request_row .dnldbcbtn").css("cssText","opacity:1 !important");
	$(".request_row .dnldsvbtn, .request_row .dnldbcbtn").prop('disabled', false);
	$(".quotation_row .dnldsvbtn, .quotation_row .dnldbcbtn").css("cssText","opacity:1 !important");
	$(".quotation_row .dnldsvbtn, .quotation_row .dnldbcbtn").prop('disabled', false);
	if("<%= status %>" != "Purchase Order Approved"){
    $(".purchase_row").addClass("trading");
    $(".purchase_row").css("cssText","border: 1px solid rgba(13, 92, 198, 1);");
    $(".purchase_row .tradeleft").css("cssText","opacity:1 !important");
    $(".purchase_row .traderight").css("cssText","background-image: url(/images/tradeopbg.jpg);");
    $(".purchase_row .tradebtn").css("cssText","opacity:1; border: 2px solid white;");
    $(".purchase_row .status").html("IN PROGRESS");
    $(".kyc_row .status, .request_row .status, .quotation_row .status").html("COMPLETED");
  }
  else{
    $(".invoice_row").addClass("trading");
    $(".invoice_row").addClass("trading");
    $(".invoice_row").css("cssText","border: 1px solid rgba(13, 92, 198, 1);");
    $(".invoice_row .tradeleft").css("cssText","opacity:1 !important");
    $(".invoice_row .traderight").css("cssText","background-image: url(/images/tradeopbg.jpg);");
    $(".invoice_row .tradebtn").css("cssText","opacity:1; border: 2px solid white;");
    $(".invoice_row .status").html("IN PROGRESS");
  }
	break;
	case "Invoice":
	$(".kyc_row .tradetxt").html('KYC Approved');
	$(".request_row .tradetxt").html('RFQ Approved');
	$(".quotation_row .tradetxt").html('Quotation Approved');
	$(".purchase_row .tradetxt").html('Purchase Order Approved');
	$(".kyc_row .dnldsvbtn, .kyc_row .dnldbcbtn").css("cssText","opacity:1 !important");
	$(".kyc_row .dnldsvbtn, .kyc_row .dnldbcbtn").prop('disabled', false);
	$(".request_row .dnldsvbtn, .request_row .dnldbcbtn").css("cssText","opacity:1 !important");
	$(".request_row .dnldsvbtn, .request_row .dnldbcbtn").prop('disabled', false);
	$(".quotation_row .dnldsvbtn, .quotation_row .dnldbcbtn").css("cssText","opacity:1 !important");
	$(".quotation_row .dnldsvbtn, .quotation_row .dnldbcbtn").prop('disabled', false);
	$(".purchase_row .dnldsvbtn, .purchase_row .dnldbcbtn").css("cssText","opacity:1 !important");
	$(".purchase_row .dnldsvbtn, .purchase_row .dnldbcbtn").prop('disabled', false);
	if("<%= status %>" != "Invoice Approved"){
    $(".invoice_row").addClass("trading");
    $(".invoice_row").css("cssText","border: 1px solid rgba(13, 92, 198, 1);");
    $(".invoice_row .tradeleft").css("cssText","opacity:1 !important");
    $(".invoice_row .traderight").css("cssText","background-image: url(/images/tradeopbg.jpg);");
    $(".invoice_row .tradebtn").css("cssText","opacity:1; border: 2px solid white;");
    $(".invoice_row .status").html("IN PROGRESS");
    $(".kyc_row .status, .request_row .status, .quotation_row .status, .purchase_row .status").html("COMPLETED");
  }
  else{
    $(".payment_row").addClass("trading");
    $(".payment_row").css("cssText","border: 1px solid rgba(13, 92, 198, 1);");
  $(".payment_row .tradeleft").css("cssText","opacity:1 !important");
  $(".payment_row .traderight").css("cssText","background-image: url(/images/tradeopbg.jpg);");
  $(".payment_row .status").html("IN PROGRESS");
  }
	break;
	case "Payment":
	$(".kyc_row .tradetxt").html('KYC Approved');
	$(".request_row .tradetxt").html('RFQ Approved');
	$(".quotation_row .tradetxt").html('Quotation Approved');
	$(".purchase_row .tradetxt").html('Purchase Order Approved');
	$(".invoice_row .tradetxt").html('Invoice Approved');
	$(".agreement_row .tradetxt").html('Financial Agreement Approved');
	$(".bill_row .tradetxt").html('Bill Of Lading Approved');
	$(".quotation_row .dnldsvbtn, .quotation_row .dnldbcbtn").css("cssText","opacity:1 !important");
	$(".quotation_row .dnldsvbtn, .quotation_row .dnldbcbtn").prop('disabled', false);
	$(".purchase_row .dnldsvbtn, .purchase_row .dnldbcbtn").css("cssText","opacity:1 !important");
	$(".purchase_row .dnldsvbtn, .purchase_row .dnldbcbtn").prop('disabled', false);
	$(".invoice_row .dnldsvbtn, .invoice_row .dnldbcbtn").css("cssText","opacity:1 !important");
	$(".invoice_row .dnldsvbtn, .invoice_row .dnldbcbtn").prop('disabled', false);
	$(".agreement_row .viewbtn2, .agreement_row .viewbtn1").css("cssText","opacity:1 !important");
	$(".agreement_row .viewbtn2, .agreement_row .viewbtn1").prop('disabled', false);
  $(".payment_row").addClass("trading");
  $(".payment_row").css("cssText","border: 1px solid rgba(13, 92, 198, 1);");
  $(".payment_row .tradeleft").css("cssText","opacity:1 !important");
  $(".payment_row .traderight").css("cssText","background-image: url(/images/tradeopbg.jpg);");
  $(".payment_row .status").html("IN PROGRESS");
  $(".kyc_row .status, .request_row .status, .quotation_row .status, .purchase_row .status, .invoice_row .status, .agreement_row .status, .bill_row .status").html("COMPLETED");
	break;
}


switch("<%= status %>"){
  case "KYC Not Uploaded":
  if("<%= senderpage %>" == "Buyer"){
    $(".kyc_row .uploadbtn").css("cssText","opacity:1 !important");
		$(".kyc_row .uploadbtn").prop('disabled', false);
		$(".pendingstatus, .kyc_row .tradetxt").html('Upload KYC');
  }
  else $(".kyc_row .tradetxt").html('<%= buyer_id %>  to Upload KYC');
  break;
  case "KYC Rejected; Ethereum Txn Pending;":
	$(".kyc_row .rejbtngif").show();
	$(".pendingstatus, .kyc_row .tradetxt").html('KYC Rejected, Updating on Blockchain');
	break;
	case "KYC Rejected":
	if("<%= senderpage %>" == "Buyer"){
		$(".kyc_row .uploadbtn").css("cssText","opacity:1 !important");
		$(".kyc_row .uploadbtn").prop('disabled', false);
		$(".pendingstatus, .kyc_row .tradetxt").html('KYC Rejected. Re-upload KYC');
	}
	else $(".kyc_row .tradetxt").html('KYC Rejected. <%= buyer_id %>  to Upload KYC');
	break;
	case "KYC Uploaded; Ethereum Txn Pending;":
	$(".kyc_row .dnldsvbtn").css("cssText","opacity:1 !important");
	$(".kyc_row .dnldsvbtn").prop('disabled', false);
	$(".kyc_row .uploadbtn .loaderbtngif").show();
	$(".pendingstatus, .kyc_row .tradetxt").html('Uploading on Blockchain');
	break;
  case "KYC Uploaded":
	$(".kyc_row .dnldsvbtn, .kyc_row .dnldbcbtn").css("cssText","opacity:1 !important");
	$(".kyc_row .dnldsvbtn, .kyc_row .dnldbcbtn").prop('disabled', false);
	if("<%= senderpage %>" == "Seller"){
		$(".pendingstatus, .kyc_row_row .tradetxt").html('Review KYC');
		$(".kyc_row .acceptbtn, .kyc_row .rejectbtn").css("cssText","opacity:1 !important");
		$(".kyc_row .acceptbtn, .kyc_row .rejectbtn").prop('disabled', false);
	}
	else $(".pendingstatus, .kyc_row .tradetxt").html('<%= buyer_id %>  to Approve');
	break;
  case "KYC Approved":
  case "Request For Quotation Not Uploaded":
  if("<%= senderpage %>" == "Buyer"){
    $(".request_row .uploadbtn").css("cssText","opacity:1 !important");
		$(".request_row .uploadbtn").prop('disabled', false);
		$(".pendingstatus, .request_row .tradetxt").html('Upload Request for Quotation');
  }
  else $(".request_row .tradetxt").html('<%= buyer_id %>  to Upload Request for Quotation');
  break;
  case "Request For Quotation Uploaded":
	$(".request_row .dnldsvbtn, .request_row .dnldbcbtn").css("cssText","opacity:1 !important");
	$(".request_row .dnldsvbtn, .request_row .dnldbcbtn").prop('disabled', false);
	if("<%= senderpage %>" == "Seller"){
		$(".pendingstatus, .request_row .tradetxt").html('Review Quotation');
		$(".request_row .acceptbtn, .request_row .rejectbtn").css("cssText","opacity:1 !important");
		$(".request_row .acceptbtn, .request_row .rejectbtn").prop('disabled', false);
	}
	else $(".pendingstatus, .request_row .tradetxt").html('<%= seller_id %>  to Approve');
	break;
	case "Request For Quotation Approved":
	case "Quotation Not Uploaded":
	if("<%= senderpage %>" == "Seller"){
		$(".quotation_row .uploadbtn").css("cssText","opacity:1 !important");
		$(".quotation_row .uploadbtn").prop('disabled', false);
		$(".pendingstatus, .quotation_row .tradetxt").html('Upload Quotation');

	}
	else $(".quotation_row .tradetxt").html('<%= seller_id %>  to Upload Quotation');
	break;
	case "Request For Quotation Approved; Ethereum Txn Pending;":
	$(".request_row .aprbtngif").show();
	$(".request_row .dnldsvbtn, .request_row .dnldbcbtn").css("cssText","opacity:1 !important");
	$(".request_row .dnldsvbtn, .request_row .dnldbcbtn").prop('disabled', false);
	$(".pendingstatus, .request_row .tradetxt").html('Quotation Approved, Updating on Blockchain');
	break;
	case "Quotation Rejected; Ethereum Txn Pending;":
	$(".quotation_row .rejbtngif").show();
	$(".pendingstatus, .quotation_row .tradetxt").html('Quotation Rejected, Updating on Blockchain');
	break;
	case "Quotation Rejected":
	if("<%= senderpage %>" == "Seller"){
		$(".quotation_row .uploadbtn").css("cssText","opacity:1 !important");
		$(".quotation_row .uploadbtn").prop('disabled', false);
		$(".pendingstatus, .quotation_row .tradetxt").html('Quotation Rejected. Re-upload Quotation');
	}
	else $(".quotation_row .tradetxt").html('Quotation Rejected. <%= seller_id %>  to Upload Quotation');
	break;
	case "Quotation Uploaded; Ethereum Txn Pending;":
	$(".quotation_row .dnldsvbtn").css("cssText","opacity:1 !important");
	$(".quotation_row .dnldsvbtn").prop('disabled', false);
	$(".quotation_row .uploadbtn .loaderbtngif").show();
	$(".pendingstatus, .quotation_row .tradetxt").html('Uploading on Blockchain');
	break;
	case "Quotation Uploaded":
	$(".quotation_row .dnldsvbtn, .quotation_row .dnldbcbtn").css("cssText","opacity:1 !important");
	$(".quotation_row .dnldsvbtn, .quotation_row .dnldbcbtn").prop('disabled', false);
	if("<%= senderpage %>" == "Buyer"){
		$(".pendingstatus, .quotation_row .tradetxt").html('Review Quotation');
		$(".quotation_row .acceptbtn, .quotation_row .rejectbtn").css("cssText","opacity:1 !important");
		$(".quotation_row .acceptbtn, .quotation_row .rejectbtn").prop('disabled', false);
	}
	else $(".pendingstatus, .quotation_row .tradetxt").html('<%= buyer_id %>  to Approve');
	break;
	case "Quotation Approved; Ethereum Txn Pending;":
	$(".quotation_row .aprbtngif").show();
	$(".quotation_row .dnldsvbtn, .quotation_row .dnldbcbtn").css("cssText","opacity:1 !important");
	$(".quotation_row .dnldsvbtn, .quotation_row .dnldbcbtn").prop('disabled', false);
	$(".pendingstatus, .quotation_row .tradetxt").html('Quotation Approved, Updating on Blockchain');
	break;
	case "Quotation Approved":
	$(".purchase_row .tradeleft").css("cssText","opacity:1 !important");
	$(".purchase_row .uploadbtn").css("cssText","opacity:1 !important");
	$(".purchase_row .uploadbtn").prop('disabled', false);
	$(".quotation_row .dnldsvbtn, .quotation_row .dnldbcbtn").css("cssText","opacity:1 !important");
	$(".quotation_row .dnldsvbtn, .quotation_row .dnldbcbtn").prop('disabled', false);
	$(".pendingstatus, .quotation_row .tradetxt").html('Quotation Approved');
	if("<%= senderpage %>" == "Buyer"){
		$(".pendingstatus, .purchase_row .tradetxt").html('Upload Purchase Order');
		$(".quotation_row .uploadbtn").prop('disabled', false);
	}
	else $(".pendingstatus, .purchase_row .tradetxt").html('Buyer yet to Upload Purchase Order');
	break;
	case "Purchase Order Rejected; Ethereum Txn Pending;":
	$(".purchase_row .rejbtngif").show();
	$(".quotation_row .dnldsvbtn, .quotation_row .dnldbcbtn").css("cssText","opacity:1 !important");
	$(".quotation_row .dnldsvbtn, .quotation_row .dnldbcbtn").prop('disabled', false);
	$(".pendingstatus, .purchase_row .tradetxt").html('Purchase Order Rejected, Updating on Blockchain');
	break;
	case "Purchase Order Rejected":
	$(".purchase_row .uploadbtn").css("cssText","opacity:1 !important");
	$(".purchase_row .uploadbtn").prop('disabled', false);
	$(".quotation_row .dnldsvbtn, .quotation_row .dnldbcbtn").css("cssText","opacity:1 !important");
	$(".quotation_row .dnldsvbtn, .quotation_row .dnldbcbtn").prop('disabled', false);
	$(".pendingstatus, .quotation_row .tradetxt").html('Quotation Approved');
	if("<%= senderpage %>" == "Buyer"){
		$(".pendingstatus, .purchase_row .tradetxt").html('Purchase Order Rejected. Re-upload Purchase Order');
		$(".quotation_row .uploadbtn").prop('disabled', false);
	}
	else $(".pendingstatus, .purchase_row .tradetxt").html('Purchase Order Rejected. <%= buyer_id %>  yet to Upload Purchase Order');
	break;
	case "Purchase Order Uploaded; Ethereum Txn Pending;":
	$(".purchase_row .dnldsvbtn").css("cssText","opacity:1 !important");
	$(".purchase_row .dnldsvbtn").prop('disabled', false);
	$(".purchase_row .uploadbtn .loaderbtngif").show();
	$(".pendingstatus, .purchase_row .tradetxt").html('Uploading on Blockchain');
	break;
	case "Purchase Order Uploaded":
	$(".purchase_row .dnldsvbtn, .purchase_row .dnldbcbtn").css("cssText","opacity:1 !important");
	$(".purchase_row .dnldsvbtn, .purchase_row .dnldbcbtn").prop('disabled', false);
	if("<%= senderpage %>" == "Seller"){
		$(".purchase_row .tradetxt").html('Review Purchase Order');
		$(".purchase_row .acceptbtn, .purchase_row .rejectbtn").css("cssText","opacity:1 !important");
		$(".purchase_row .acceptbtn, .purchase_row .rejectbtn").prop('disabled', false);
	}
	else $(".purchase_row .tradetxt").html('Seller to Approve');
	break;
	case "Purchase Order Approved; Ethereum Txn Pending;":
	$(".purchase_row .aprbtngif").show();
	$(".purchase_row .dnldsvbtn, .purchase_row .dnldbcbtn").css("cssText","opacity:1 !important");
	$(".purchase_row .dnldsvbtn, .purchase_row .dnldbcbtn").prop('disabled', false);
	$(".pendingstatus, .purchase_row .tradetxt").html('Purchase Order Approved, Updating on Blockchain');
	break;
	case "Purchase Order Approved":
	$(".invoice_row .tradeleft").css("cssText","opacity:1 !important");
	$(".invoice_row .uploadbtn").css("cssText","opacity:1 !important");
	$(".invoice_row .uploadbtn").prop('disabled', false);
	$(".purchase_row .dnldsvbtn, .purchase_row .dnldbcbtn").css("cssText","opacity:1 !important");
	$(".purchase_row .dnldsvbtn, .purchase_row .dnldbcbtn").prop('disabled', false);
	$(".pendingstatus, .purchase_row .tradetxt").html('Purchase Order Approved');
	if("<%= senderpage %>" == "Seller"){
		$(".invoice_row .uploadbtn").prop('disabled', false);
		$(".invoice_row .tradetxt").html('Upload Invoice');
	}

	else $(".pendingstatus, .invoice_row .tradetxt").html('<%= seller_id %>  yet to Upload Invoice');
	break;
	case "Invoice Rejected; Ethereum Txn Pending;":
	$(".invoice_row .rejbtngif").show();
	$(".purchase_row .dnldsvbtn, .purchase_row .dnldbcbtn").css("cssText","opacity:1 !important");
	$(".purchase_row .dnldsvbtn, .purchase_row .dnldbcbtn").prop('disabled', false);
	$(".pendingstatus, .invoice_row .tradetxt").html('Invoice Rejected, Updating on Blockchain');
	break;
	case "Invoice Rejected":
	$(".invoice_row .uploadbtn").css("cssText","opacity:1 !important");
	$(".invoice_row .uploadbtn").prop('disabled', false);
	$(".purchase_row .dnldsvbtn, .purchase_row .dnldbcbtn").css("cssText","opacity:1 !important");
	$(".purchase_row .dnldsvbtn, .purchase_row .dnldbcbtn").prop('disabled', false);
	if("<%= senderpage %>" == "Seller"){
		$(".invoice_row .uploadbtn").prop('disabled', false);
		$(".pendingstatus, .invoice_row .tradetxt").html('Invoice Rejected. Upload Invoice');
	}

	else $(".pendingstatus, .invoice_row .tradetxt").html('Invoice Rejected. <%= seller_id %>  yet to Upload Invoice');
	break;
	case "Invoice Approved by Buyer; Ethereum Txn Pending;":
	$(".invoice_row .aprbtngif").show();
	$(".invoice_row .dnldsvbtn, .invoice_row .dnldbcbtn").css("cssText","opacity:1 !important");
	$(".invoice_row .dnldsvbtn, .invoice_row .dnldbcbtn").prop('disabled', false);
	$(".pendingstatus, .invoice_row .tradetxt").html('Invoice Approved by <%= buyer_id %> , Updating on Blockchain');
	break;
	case "Invoice Approved by Buyer":
	$(".invoice_row .dnldsvbtn, .invoice_row .dnldbcbtn").css("cssText","opacity:1 !important");
	$(".invoice_row .dnldsvbtn, .invoice_row .dnldbcbtn").prop('disabled', false);
	if("<%= senderpage %>" == "Bank"){
		$(".invoice_row .tradetxt").html('Review Invoice');
		$(".invoice_row .acceptbtn, .invoice_row .rejectbtn").css("cssText","opacity:1 !important");
		$(".invoice_row .acceptbtn, .invoice_row .rejectbtn").prop('disabled', false);
	}
	else $(".pendingstatus, .invoice_row .tradetxt").html('Financing Bank to Approve');
	break;
	case "Invoice Uploaded; Ethereum Txn Pending;":
	$(".invoice_row .dnldsvbtn").css("cssText","opacity:1 !important");
	$(".invoice_row .dnldsvbtn").prop('disabled', false);
	$(".invoice_row .uploadbtn .loaderbtngif").show();
	$(".pendingstatus, .invoice_row .tradetxt").html('Uploading on Blockchain');
	break;
	case "Invoice Uploaded":
	$(".invoice_row .dnldsvbtn, .invoice_row .dnldbcbtn").css("cssText","opacity:1 !important");
	$(".invoice_row .dnldsvbtn, .invoice_row .dnldbcbtn").prop('disabled', false);
	if("<%= senderpage %>" == "Buyer"){
		$(".pendingstatus, .invoice_row .tradetxt").html('Review Invoice');
		$(".invoice_row .acceptbtn, .invoice_row .rejectbtn").css("cssText","opacity:1 !important");
		$(".invoice_row .acceptbtn, .invoice_row .rejectbtn").prop('disabled', false);
	}
	else $(".invoice_row .tradetxt").html('Buyer to Approve');
	break;
	case "Invoice Approved By Seller Bank; Ethereum Txn Pending;":
	$(".invoice_row .aprbtngif").show();
	$(".invoice_row .dnldsvbtn, .invoice_row .dnldbcbtn").css("cssText","opacity:1 !important");
	$(".invoice_row .dnldsvbtn, .invoice_row .dnldbcbtn").prop('disabled', false);
	$(".pendingstatus, .invoice_row .tradetxt").html('Invoice Approved By Financing Bank, Updating on Blockchain');
	break;
	case "Invoice Approved":
	$(".agreement_row .tradeleft").css("cssText","opacity:1 !important");
	$(".agreement_row .uploadbtn").css("cssText","opacity:1 !important");
	$(".agreement_row .uploadbtn").prop('disabled', false);
	$(".invoice_row .dnldsvbtn, .invoice_row .dnldbcbtn").prop('disabled', false);
	$(".invoice_row .dnldsvbtn, .invoice_row .dnldbcbtn").css("cssText","opacity:1 !important");
	$(".pendingstatus, .invoice_row .tradetxt").html('Invoice Approved');
	if("<%= senderpage %>" == "Bank"){
		$(".agreement_row .uploadbtn").css("cssText","opacity:1 !important");
		$(".agreement_row .uploadbtn").prop('disabled', false);
		$(".pendingstatus, .agreement_row .tradetxt").html('Update Agreement');
	}

	else $(".pendingstatus, .agreement_row .tradetxt").html('Financing Bank yet to Upload Agreement');
	break;
	case "Letter Of Credit Rejected; Ethereum Txn Pending;":
	$(".agreement_row .rejbtngif").show();
	$(".invoice_row .dnldsvbtn, .invoice_row .dnldbcbtn").prop('disabled', false);
	$(".invoice_row .dnldsvbtn, .invoice_row .dnldbcbtn").css("cssText","opacity:1 !important");
	$(".pendingstatus, .agreement_row .tradetxt").html('Letter Of Credit Rejected, Updating on Blockchain');
	break;
	case "Letter Of Credit Rejected":
	$(".invoice_row .dnldsvbtn, .invoice_row .dnldbcbtn").prop('disabled', false);
	$(".invoice_row .dnldsvbtn, .invoice_row .dnldbcbtn").css("cssText","opacity:1 !important");
	$(".invoice_row .tradetxt").html('Invoice Approved');
	if("<%= senderpage %>" == "Bank"){
		$(".agreement_row .uploadbtn").css("cssText","opacity:1 !important");
		$(".agreement_row .uploadbtn").prop('disabled', false);
		$(".pendingstatus, .agreement_row .tradetxt").html('Financial Agreement Rejected. Upload Agreement');
	}

	else $(".pendingstatus, .agreement_row .tradetxt").html('Financial Agreement Rejected. Financing Bank yet to Upload Agreement');
	break;
	case "Letter Of Credit Uploaded; Ethereum Txn Pending;":
	$(".agreement_row .uploadbtn .loaderbtngif").show();
	if("<%= senderpage %>" == "Bank"){
		$(".agreement_row .viewbtn1").prop('disabled', false);
		$(".agreement_row .viewbtn1").css("cssText","opacity:1 !important");
	}
	else{
		$(".agreement_row .viewbtn2").prop('disabled', false);
		$(".agreement_row .viewbtn2").css("cssText","opacity:1 !important");
	}
	$(".pendingstatus, .agreement_row .tradetxt").html('Updating on Blockchain');
	break;
	case "Letter Of Credit Uploaded":
	$(".agreement_row .viewbtn2").css("cssText","opacity:1 !important");
	$(".agreement_row .viewbtn2").prop('disabled', false);
	$(".agreement_row .viewbtn1").css("cssText","opacity:1 !important");
	$(".agreement_row .viewbtn1").prop('disabled', false);
	if("<%= senderpage %>" == "Buyer"){
		$(".agreement_row .acceptbtn, .agreement_row .rejectbtn").css("cssText","opacity:1 !important");
		$(".agreement_row .acceptbtn, .agreement_row .rejectbtn").prop('disabled', false);
		$(".pendingstatus, .agreement_row .tradetxt").html('Review Financial Agreement');
	}
	else $(".agreement_row .tradetxt").html('Buyer to Approve');
	$(".pendingstatus, .payment_row .tradetxt").html('Payment Scheduled');
	break;
	case "Letter Of Credit Approved; Ethereum Txn Pending;":
	$(".agreement_row .aprbtngif").show();
	$('.payment_row .tradeleft').css("cssText","opacity:1 !important");
	$(".payment_row .tradetxt").html('Payment Scheduled');
	$(".agreement_row").css("cssText","opacity:1 !important");
	$(".agreement_row .viewbtn1, .agreement_row .viewbtn2").prop('disabled', false);
	$(".agreement_row .viewbtn1, .agreement_row .viewbtn2").css("cssText","opacity:1 !important");
	$(".pendingstatus, .agreement_row .tradetxt").html('Agreement Approved, Updating on Blockchain');
	break;
	case "Letter Of Credit Approved by Buyer; Ethereum Txn Pending;":
	$(".agreement_row .aprbtngif").show();
	$(".agreement_row").css("cssText","opacity:1 !important");
	$(".agreement_row .viewbtn1, .agreement_row .viewbtn2").prop('disabled', false);
	$(".agreement_row .viewbtn1, .agreement_row .viewbtn2").css("cssText","opacity:1 !important");
	$(".pendingstatus, .agreement_row .tradetxt").html('Financial Agreement Approved by Buyer, Updating on Blockchain');
	break;
	case "Letter Of Credit Approved by Buyer":
	$('.payment_row .tradeleft').css("cssText","opacity:1 !important");
	$(".payment_row .tradetxt").html('Payment Scheduled');
	$(".agreement_row").css("cssText","opacity:1 !important");
	$(".agreement_row .viewbtn1, .agreement_row .viewbtn2").prop('disabled', false);
	$(".agreement_row .viewbtn1, .agreement_row .viewbtn2").css("cssText","opacity:1 !important");
	if("<%= senderpage %>" == "Seller"){
		$(".agreement_row .acceptbtn, .agreement_row .rejectbtn").css("cssText","opacity:1 !important");
		$(".agreement_row .acceptbtn, .agreement_row .rejectbtn").prop('disabled', false);
		$(".pendingstatus, .agreement_row .tradetxt").html('Review Financial Agreement');
	}
	else $(".agreement_row .tradetxt").html('<%= seller_id %>  to Approve');
	break;
	case "Letter Of Credit Approved":
	$('.payment_row .tradeleft').css("cssText","opacity:1 !important");
	$(".pendingstatus, .payment_row .tradetxt").html('Payment Scheduled');
	$(".bill_row .tradeleft").css("cssText","opacity:1 !important");
	$(".agreement_row .viewbtn2, .agreement_row .viewbtn1").css("cssText","opacity:1 !important");
	$(".agreement_row .viewbtn2, .agreement_row .viewbtn1").prop('disabled', false);
	$(".agreement_row .tradetxt").html('Agreement Approved');
	if("<%= senderpage %>" == "Shipper"){
	$(".bill_row .uploadbtn").css("cssText","opacity:1 !important");
		$(".bill_row .uploadbtn").prop('disabled', false);
		$(".pendingstatus, .bill_row .tradetxt").html('Upload Bill Of Lading');
	}
	else $(".bill_row .tradetxt").html('Shipper yet to Upload Bill Of Lading');
	break;
	case "Bill Of Lading Rejected; Ethereum Txn Pending;":
	$(".bill_row .rejbtngif").show();
	$(".agreement_row .viewbtn2, .agreement_row .viewbtn1").css("cssText","opacity:1 !important");
	$(".agreement_row .viewbtn2, .agreement_row .viewbtn1").prop('disabled', false);
	$(".pendingstatus, .bill_row .tradetxt").html('Bill Of Lading Rejected, Updating on Blockchain');
	break;
	case "Bill Of Lading Rejected":
	$(".agreement_row .viewbtn2, .agreement_row .viewbtn1").css("cssText","opacity:1 !important");
	$(".agreement_row .viewbtn2, .agreement_row .viewbtn1").prop('disabled', false);
	$(".pendingstatus, .agreement_row .tradetxt").html('Agreement Approved');
	if("<%= senderpage %>" == "Shipper"){
		$(".bill_row .uploadbtn").prop('disabled', false);
		$(".pendingstatus, .bill_row .tradetxt").html('Bill Of Lading Rejected. Upload Bill Of Lading');
	}
	else $(".pendingstatus, .bill_row .tradetxt").html('Bill Of Lading Rejected. Shipper yet to Upload Bill Of Lading');
	break;
	case "Bill Of Lading Uploaded; Ethereum Txn Pending;":
	$(".bill_row .uploadbtn .loaderbtngif").show();
	$(".bill_row .dnldsvbtn").css("cssText","opacity:1 !important");
	$(".bill_row .dnldsvbtn").prop('disabled', false);
	$(".pendingstatus, .bill_row .tradetxt").html('Uploading on Blockchain');
	break;
	case "Bill Of Lading Uploaded":
	$(".bill_row .dnldsvbtn, .bill_row .dnldbcbtn").css("cssText","opacity:1 !important");
	$(".bill_row .dnldsvbtn, .bill_row .dnldbcbtn").prop('disabled', false);
	if("<%= senderpage %>" == "Buyer"){
		$(".bill_row .acceptbtn, .bill_row .rejectbtn").css("cssText","opacity:1 !important");
		$(".bill_row .acceptbtn, .bill_row .rejectbtn").prop('disabled', false);
		$(".pendingstatus, .bill_row .tradetxt").html('Review Bill Of Lading');
	}
	else $(".bill_row .tradetxt").html('Buyer to Approve Bill Of Lading');
	break;
	case "Bill Of Lading Approved by Buyer; Ethereum Txn Pending;":
	$(".bill_row .aprbtngif").show();
	$(".bill_row .dnldsvbtn, .bill_row .dnldbcbtn").css("cssText","opacity:1 !important");
	$(".bill_row .dnldsvbtn, .bill_row .dnldbcbtn").prop('disabled', false);
	$(".pendingstatus, .bill_row .tradetxt").html('Bill Of Lading Approved by Buyer, Updating on Blockchain');
	break;
	case "Bill Of Lading Approved by Buyer":
	$(".bill_row .dnldsvbtn, .bill_row .dnldbcbtn").css("cssText","opacity:1 !important");
	$(".bill_row .dnldsvbtn, .bill_row .dnldbcbtn").prop('disabled', false);
	if("<%= senderpage %>" == "Bank"){
		$(".bill_row .acceptbtn, .bill_row .rejectbtn").css("cssText","opacity:1 !important");
		$(".bill_row .acceptbtn, .bill_row .rejectbtn").prop('disabled', false);
		$(".pendingstatus, .bill_row .tradetxt").html('Review Bill Of Lading');
	}
	else $(".pendingstatus, .bill_row .tradetxt").html('Financing Bank to Approve Bill Of Lading');
	break;
	case "Bill Of Lading Approved":
        $('.payment_row .tradeleft').css("cssText","opacity:1 !important");
	$(".bill_row .dnldsvbtn, .bill_row .dnldbcbtn").css("cssText","opacity:1 !important");
	$(".bill_row .dnldsvbtn, .bill_row .dnldbcbtn").prop('disabled', false);
	$(".pendingstatus, .bill_row .tradetxt").html('Bill Of Lading Approved');
	break;
	case "Bill Of Lading Approved; Ethereum Txn Pending;":
	$(".bill_row .aprbtngif").show();
	$(".bill_row .dnldsvbtn, .bill_row .dnldbcbtn").css("cssText","opacity:1 !important");
	$(".bill_row .dnldsvbtn, .bill_row .dnldbcbtn").prop('disabled', false);
	$(".pendingstatus, .bill_row .tradetxt").html('Bill Of Lading Approved, Updating on Blockchain');
	break;
        case "Payment Scheduled":
        $('.payment_row .tradeleft').css("cssText","opacity:1 !important");
        $(".pendingstatus, .payment_row .tradetxt").html('Payment Scheduled');
        break;
	case "Payment Successful":
	$('.payment_row .tradeleft').css("cssText","opacity:1 !important");
	$(".pendingstatus, .payment_row .tradetxt").html('Payment Successful');
	break;
	case "Payment Declined":
	$('.payment_row .tradeleft').css("cssText","opacity:1 !important");
	$(".pendingstatus, .payment_row .tradetxt").html('Payment Declined');
	break;
}
</script>

</body>
</html>
